.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card-container{
    border: 1px solid white;
    border-radius: 25px;
    height: 220px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
}

.card-container :hover {
    cursor: pointer;
}

.card-container img{
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 15px;
}

.pokemon-name{
    margin: 0;
}

