.card-grid{
    display: grid;
}

.card-container{
    border: 1px solid white;
    border-radius: 50px;
    height: 220px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container img{
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 15px;
}

.pokemon-name{
    margin: 0;
}

